eRECEPT/wdsl/wsdl_201704A update3/CUERLekarnik.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CUERLekarnik" targetNamespace="http://www.sukl.cz/erp/201704" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sukl.cz/erp/201704" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <!--version_201704A_update3--><wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.sukl.cz/erp/201704" schemaLocation="schema1.xsd"></import>
</schema>
  </wsdl:types>
  <wsdl:message name="GetAppInfo">
    <wsdl:part name="AppInfoDotaz" element="tns:AppInfoDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChybaResponse">
    <wsdl:part name="ChybaOdpoved" element="tns:Chyba">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistInformaceOZrusenemPredpisu">
    <wsdl:part name="NacteniInformaceOZrusenemPredpisuDotaz" element="tns:NacteniInformaceOZrusenemPredpisuDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZrusitVydej">
    <wsdl:part name="ZruseniVydejeDotaz" element="tns:ZruseniVydejeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistCiselnikChybResponse">
    <wsdl:part name="CisChybOdpoved" element="tns:CisChybOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistPredpis">
    <wsdl:part name="NacteniPredpisuDotaz" element="tns:NacteniPredpisuDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZrusitVydejResponse">
    <wsdl:part name="ZruseniVydejeOdpoved" element="tns:ZruseniVydejeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingZEPResponse">
    <wsdl:part name="AppPingZEPOdpoved" element="tns:AppPingZEPOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistVerze">
    <wsdl:part name="VerzeDotaz" element="tns:VerzeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistVydej">
    <wsdl:part name="NacteniVydejeDotaz" element="tns:NacteniVydejeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitPojistovnuPredpisuResponse">
    <wsdl:part name="ZmenaPojistovnyPredpisuOdpoved" element="tns:ZmenaPojistovnyPredpisuOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitVydejResponse">
    <wsdl:part name="ZmenaVydejeOdpoved" element="tns:ZmenaVydejeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StahnoutPruvodku">
    <wsdl:part name="StazeniPruvodkyDotaz" element="tns:StazeniPruvodkyDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistInformaceOZrusenemVydeji">
    <wsdl:part name="NacteniInformaceOZrusenemVydejiDotaz" element="tns:NacteniInformaceOZrusenemVydejiDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistInformaceOZrusenemVydejiResponse">
    <wsdl:part name="NacteniInformaceOZrusenemVydejiOdpoved" element="tns:NacteniInformaceOZrusenemVydejiOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistVerzeResponse">
    <wsdl:part name="VerzeOdpoved" element="tns:VerzeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitVydej">
    <wsdl:part name="ZmenaVydejeDotaz" element="tns:ZmenaVydejeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DigitalizovatPredpisResponse">
    <wsdl:part name="DigitalizacePredpisuOdpoved" element="tns:DigitalizacePredpisuOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingResponse">
    <wsdl:part name="AppPingOdpoved" element="tns:AppPingOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitStavPredpisuResponse">
    <wsdl:part name="ZmenaStavuPredpisuOdpoved" element="tns:ZmenaStavuPredpisuOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistCiselnikChyb">
    <wsdl:part name="CisChybDotaz" element="tns:CisChybDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistVydejResponse">
    <wsdl:part name="NacteniVydejeOdpoved" element="tns:NacteniVydejeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistPredpisResponse">
    <wsdl:part name="NacteniPredpisuOdpoved" element="tns:NacteniPredpisuOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DigitalizovatPredpis">
    <wsdl:part name="DigitalizacePredpisuDotaz" element="tns:DigitalizacePredpisuDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistInformaceOZrusenemPredpisuResponse">
    <wsdl:part name="NacteniInformaceOZrusenemPredpisuOdpoved" element="tns:NacteniInformaceOZrusenemPredpisuOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZalozitVydejResponse">
    <wsdl:part name="ZalozeniVydejeOdpoved" element="tns:ZalozeniVydejeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPing">
    <wsdl:part name="AppPingDotaz" element="tns:AppPingDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZalozitVydej">
    <wsdl:part name="ZalozeniVydejeDotaz" element="tns:ZalozeniVydejeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitStavPredpisu">
    <wsdl:part name="ZmenaStavuPredpisuDotaz" element="tns:ZmenaStavuPredpisuDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ZmenitPojistovnuPredpisu">
    <wsdl:part name="ZmenaPojistovnyPredpisuDotaz" element="tns:ZmenaPojistovnyPredpisuDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAppInfoResponse">
    <wsdl:part name="AppInfoOdpoved" element="tns:AppInfoOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingZEP">
    <wsdl:part name="AppPingZEPDotaz" element="tns:AppPingZEPDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="StahnoutPruvodkuResponse">
    <wsdl:part name="StazeniPruvodkyOdpoved" element="tns:StazeniPruvodkyOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CUERLekarnik">
    <wsdl:operation name="NacistInformaceOZrusenemVydeji">
      <wsdl:input name="NacistInformaceOZrusenemVydeji" message="tns:NacistInformaceOZrusenemVydeji">
    </wsdl:input>
      <wsdl:output name="NacistInformaceOZrusenemVydejiResponse" message="tns:NacistInformaceOZrusenemVydejiResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <wsdl:input name="GetAppInfo" message="tns:GetAppInfo">
    </wsdl:input>
      <wsdl:output name="GetAppInfoResponse" message="tns:GetAppInfoResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitVydej">
      <wsdl:input name="ZmenitVydej" message="tns:ZmenitVydej">
    </wsdl:input>
      <wsdl:output name="ZmenitVydejResponse" message="tns:ZmenitVydejResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistInformaceOZrusenemPredpisu">
      <wsdl:input name="NacistInformaceOZrusenemPredpisu" message="tns:NacistInformaceOZrusenemPredpisu">
    </wsdl:input>
      <wsdl:output name="NacistInformaceOZrusenemPredpisuResponse" message="tns:NacistInformaceOZrusenemPredpisuResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZrusitVydej">
      <wsdl:input name="ZrusitVydej" message="tns:ZrusitVydej">
    </wsdl:input>
      <wsdl:output name="ZrusitVydejResponse" message="tns:ZrusitVydejResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistCiselnikChyb">
      <wsdl:input name="NacistCiselnikChyb" message="tns:NacistCiselnikChyb">
    </wsdl:input>
      <wsdl:output name="NacistCiselnikChybResponse" message="tns:NacistCiselnikChybResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistPredpis">
      <wsdl:input name="NacistPredpis" message="tns:NacistPredpis">
    </wsdl:input>
      <wsdl:output name="NacistPredpisResponse" message="tns:NacistPredpisResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitalizovatPredpis">
      <wsdl:input name="DigitalizovatPredpis" message="tns:DigitalizovatPredpis">
    </wsdl:input>
      <wsdl:output name="DigitalizovatPredpisResponse" message="tns:DigitalizovatPredpisResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <wsdl:input name="AppPing" message="tns:AppPing">
    </wsdl:input>
      <wsdl:output name="AppPingResponse" message="tns:AppPingResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZalozitVydej">
      <wsdl:input name="ZalozitVydej" message="tns:ZalozitVydej">
    </wsdl:input>
      <wsdl:output name="ZalozitVydejResponse" message="tns:ZalozitVydejResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitStavPredpisu">
      <wsdl:input name="ZmenitStavPredpisu" message="tns:ZmenitStavPredpisu">
    </wsdl:input>
      <wsdl:output name="ZmenitStavPredpisuResponse" message="tns:ZmenitStavPredpisuResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitPojistovnuPredpisu">
      <wsdl:input name="ZmenitPojistovnuPredpisu" message="tns:ZmenitPojistovnuPredpisu">
    </wsdl:input>
      <wsdl:output name="ZmenitPojistovnuPredpisuResponse" message="tns:ZmenitPojistovnuPredpisuResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVerze">
      <wsdl:input name="NacistVerze" message="tns:NacistVerze">
    </wsdl:input>
      <wsdl:output name="NacistVerzeResponse" message="tns:NacistVerzeResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVydej">
      <wsdl:input name="NacistVydej" message="tns:NacistVydej">
    </wsdl:input>
      <wsdl:output name="NacistVydejResponse" message="tns:NacistVydejResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <wsdl:input name="AppPingZEP" message="tns:AppPingZEP">
    </wsdl:input>
      <wsdl:output name="AppPingZEPResponse" message="tns:AppPingZEPResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StahnoutPruvodku">
      <wsdl:input name="StahnoutPruvodku" message="tns:StahnoutPruvodku">
    </wsdl:input>
      <wsdl:output name="StahnoutPruvodkuResponse" message="tns:StahnoutPruvodkuResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CUERLekarnikSoapBinding" type="tns:CUERLekarnik">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="NacistInformaceOZrusenemVydeji">
      <soap:operation soapAction="NacistInformaceOZrusenemVydeji" style="document"/>
      <wsdl:input name="NacistInformaceOZrusenemVydeji">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistInformaceOZrusenemVydejiResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="GetAppInfo" style="document"/>
      <wsdl:input name="GetAppInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAppInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitVydej">
      <soap:operation soapAction="ZmenitVydej" style="document"/>
      <wsdl:input name="ZmenitVydej">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ZmenitVydejResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistInformaceOZrusenemPredpisu">
      <soap:operation soapAction="NacistInformaceOZrusenemPredpisu" style="document"/>
      <wsdl:input name="NacistInformaceOZrusenemPredpisu">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistInformaceOZrusenemPredpisuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZrusitVydej">
      <soap:operation soapAction="ZrusitVydej" style="document"/>
      <wsdl:input name="ZrusitVydej">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ZrusitVydejResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistCiselnikChyb">
      <soap:operation soapAction="NacistCiselnikChyb" style="document"/>
      <wsdl:input name="NacistCiselnikChyb">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistCiselnikChybResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistPredpis">
      <soap:operation soapAction="NacistPredpis" style="document"/>
      <wsdl:input name="NacistPredpis">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistPredpisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DigitalizovatPredpis">
      <soap:operation soapAction="DigitalizovatPredpis" style="document"/>
      <wsdl:input name="DigitalizovatPredpis">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DigitalizovatPredpisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <soap:operation soapAction="AppPing" style="document"/>
      <wsdl:input name="AppPing">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AppPingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZalozitVydej">
      <soap:operation soapAction="ZalozitVydej" style="document"/>
      <wsdl:input name="ZalozitVydej">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ZalozitVydejResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitStavPredpisu">
      <soap:operation soapAction="ZmenitStavPredpisu" style="document"/>
      <wsdl:input name="ZmenitStavPredpisu">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ZmenitStavPredpisuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ZmenitPojistovnuPredpisu">
      <soap:operation soapAction="ZmenitPojistovnuPredpisu" style="document"/>
      <wsdl:input name="ZmenitPojistovnuPredpisu">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ZmenitPojistovnuPredpisuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVerze">
      <soap:operation soapAction="NacistVerze" style="document"/>
      <wsdl:input name="NacistVerze">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistVerzeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVydej">
      <soap:operation soapAction="NacistVydej" style="document"/>
      <wsdl:input name="NacistVydej">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistVydejResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <soap:operation soapAction="AppPingZEP" style="document"/>
      <wsdl:input name="AppPingZEP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AppPingZEPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="StahnoutPruvodku">
      <soap:operation soapAction="StahnoutPruvodku" style="document"/>
      <wsdl:input name="StahnoutPruvodku">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="StahnoutPruvodkuResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CUERLekarnik">
    <wsdl:port name="CUERLekarnik_Port" binding="tns:CUERLekarnikSoapBinding">
      <soap:address location="https://lekarnik-soap.test-erecept.sukl.cz/cuer/Lekarnik"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
