eRECEPT/wdsl/RLPOLekar.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="RLPOLekar" targetNamespace="http://www.sukl.cz/erp/201704" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.sukl.cz/erp/201704" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <!--version_201704A_update4--><wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
  <import namespace="http://www.sukl.cz/erp/201704" schemaLocation="schema1.xsd"></import>
</schema>
  </wsdl:types>
  <wsdl:message name="NacistVerzeResponse">
    <wsdl:part name="VerzeOdpoved" element="tns:VerzeOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAppInfo">
    <wsdl:part name="AppInfoDotaz" element="tns:AppInfoDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingResponse">
    <wsdl:part name="AppPingOdpoved" element="tns:AppPingOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ChybaResponse">
    <wsdl:part name="ChybaOdpoved" element="tns:Chyba">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistCiselnikChyb">
    <wsdl:part name="CisChybDotaz" element="tns:CisChybDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistCiselnikChybResponse">
    <wsdl:part name="CisChybOdpoved" element="tns:CisChybOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPing">
    <wsdl:part name="AppPingDotaz" element="tns:AppPingDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingZEPResponse">
    <wsdl:part name="AppPingZEPOdpoved" element="tns:AppPingZEPOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OveritPredpisResponse">
    <wsdl:part name="OveritPredpisOdpoved" element="tns:OveritPredpisOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OveritPredpis">
    <wsdl:part name="OveritPredpisDotaz" element="tns:OveritPredpisDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NacistVerze">
    <wsdl:part name="VerzeDotaz" element="tns:VerzeDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAppInfoResponse">
    <wsdl:part name="AppInfoOdpoved" element="tns:AppInfoOdpoved">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="AppPingZEP">
    <wsdl:part name="AppPingZEPDotaz" element="tns:AppPingZEPDotaz">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="RLPOLekar">
    <wsdl:operation name="GetAppInfo">
      <wsdl:input name="GetAppInfo" message="tns:GetAppInfo">
    </wsdl:input>
      <wsdl:output name="GetAppInfoResponse" message="tns:GetAppInfoResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OveritPredpis">
      <wsdl:input name="OveritPredpis" message="tns:OveritPredpis">
    </wsdl:input>
      <wsdl:output name="OveritPredpisResponse" message="tns:OveritPredpisResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistCiselnikChyb">
      <wsdl:input name="NacistCiselnikChyb" message="tns:NacistCiselnikChyb">
    </wsdl:input>
      <wsdl:output name="NacistCiselnikChybResponse" message="tns:NacistCiselnikChybResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVerze">
      <wsdl:input name="NacistVerze" message="tns:NacistVerze">
    </wsdl:input>
      <wsdl:output name="NacistVerzeResponse" message="tns:NacistVerzeResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <wsdl:input name="AppPingZEP" message="tns:AppPingZEP">
    </wsdl:input>
      <wsdl:output name="AppPingZEPResponse" message="tns:AppPingZEPResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <wsdl:input name="AppPing" message="tns:AppPing">
    </wsdl:input>
      <wsdl:output name="AppPingResponse" message="tns:AppPingResponse">
    </wsdl:output>
      <wsdl:fault name="ChybaResponse" message="tns:ChybaResponse">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RLPOLekarSoapBinding" type="tns:RLPOLekar">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetAppInfo">
      <soap:operation soapAction="GetAppInfo" style="document"/>
      <wsdl:input name="GetAppInfo">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetAppInfoResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OveritPredpis">
      <soap:operation soapAction="OveritPredpis" style="document"/>
      <wsdl:input name="OveritPredpis">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="OveritPredpisResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistCiselnikChyb">
      <soap:operation soapAction="NacistCiselnikChyb" style="document"/>
      <wsdl:input name="NacistCiselnikChyb">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistCiselnikChybResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="NacistVerze">
      <soap:operation soapAction="NacistVerze" style="document"/>
      <wsdl:input name="NacistVerze">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="NacistVerzeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPingZEP">
      <soap:operation soapAction="AppPingZEP" style="document"/>
      <wsdl:input name="AppPingZEP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AppPingZEPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AppPing">
      <soap:operation soapAction="AppPing" style="document"/>
      <wsdl:input name="AppPing">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="AppPingResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ChybaResponse">
        <soap:fault name="ChybaResponse" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RLPOLekar">
    <wsdl:port name="RLPOLekar_Port" binding="tns:RLPOLekarSoapBinding">
      <soap:address location="https://lekar-soap.test-erecept.sukl.cz/rlpo/Lekar"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
